p{
    margin-bottom: 0;
}

.chat-box{
    background-color: gray;
    height: calc(100dvh - 5.5em);
    margin: 0 auto;
    width: 60vw;
    border: 1px solid gray;
    border-radius: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    grid-column-gap: 1px;
}

.hybrid{
    display: flex;
    height: 100%;
    overflow: hidden;
    .ChatRoom{
        width: 100%;
    }
}

@media (max-width: 990px) {
    .chat-box{
        width: 100%;
    }
}

@media (max-width: 780px) {
    .chat-box{
        height: calc(100dvh - 45px - 5.5em);
    }
}